{% extends "layout.html" %}

{% block content %}
Hello this is the Irish Gallery

<div>
  <img src= {{URL1}}
       alt="Cheetah!" />
  <img src= {{URL2}}
       alt="Cheetah!" />
  <img src= {{URL3}}
       alt="Cheetah!" />
  <img src= {{URL4}}
       alt="Cheetah!" />
  <img src= {{URL5}}
       alt="Cheetah!" />
  <img src= {{URL6}}
       alt="Cheetah!" />
  <img src= {{URL7}}
       alt="Cheetah!" />
  <img src= {{URL8}}
       alt="Cheetah!" />
  <img src= {{URL9}}
       alt="Cheetah!" />
  <img src= {{URL10}}
       alt="Cheetah!" />
  <img src= {{URL11}}
       alt="Cheetah!" />
  <img src= {{URL12}}
       alt="Cheetah!" />
  <img src= {{URL13}}
       alt="Cheetah!" />
  <img src= {{URL14}}
       alt="Cheetah!" />
  <img src= {{URL15}}
       alt="Cheetah!" />
</div>

{% endblock %}